numpy==1.26.4
matplotlib==3.10.0
peft==0.14.0
protobuf==5.29.0
sentencepiece==0.2.0
opencv-python==4.11.0.86
huggingface-hub==0.36.0
diffusers==0.32.2
torch==2.5.1 --index-url https://download.pytorch.org/whl/cu121
torchvision==0.20.1 --index-url https://download.pytorch.org/whl/cu121
gradio==5.49.0
gradio-client==1.13.3
gradio-imageslider==0.0.20
spaces==0.42.1
omegaconf==2.3.0
tabulate==0.9.0
